<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="/">We sell stuff</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/users/products">Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/categories">Category</a>
      </li>
    </ul>

    <div class="form-inline my-2 my-lg-0">
      <%= form_tag('/', :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Posts", class: 'form-control' %>
      <% end %>
    </div>
  </div>
</nav>